@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full
}

body {
  @apply font-poppins
}
.gradient-text {
  /* Create a linear gradient */
  background-image: linear-gradient(to right, #29471A, #60861C);

  /* Set background clip to text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Set text fill color to transparent to let the gradient show through */
  color: transparent;

  /* Optional: Add text shadow for better readability */

}
* {
  scroll-behavior: smooth;
}